
<div class="row">
  <div class="col-md-12">
    <form>

      <div class="input-group">
        <span class="input-group-btn">
            <a href="/cadastro/foto" class="btn btn-success">
              Nova foto
              <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
            </a>
        </span>
        <input class="form-control" placeholder="filtro"
        ng-model="filtro"
        ng-model-options="{debounce:500}">
      </div>


    </form>
  </div>
</div>

<div class="row">
  <panel-tmp class="painel-animado"
  titulo="{{foto.titulo}}"
  ng-repeat="foto in fotos | filter:{titulo: filtro}"
  fotoatual="foto">
    <!-- <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}"> -->
    <minha-foto url="{{foto.url}}" nome="{{foto.titulo}}">
  </panel-tmp>

</div>
